body {
    background-color: white;
}

h1 {
    color: black;
    font-size: 80%;
}

h2 {
    color: black;
    font-size: 80%;
}


h3 {
    color: black;
    font-size: 80%;
}


p {
    color: black;
    font-size: 80% !important;
}