body {
    background-color: white;
}

h1 {
    color: black;
    font-size: 5px;
}

h2 {
    color: black;
    font-size: 5px;
}

h3 {
    color: black;
    font-size: 5px;
}

p {
    color: black;
    font-size: 5px !important;
}